body {
    font-family: "Sofia", sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Sofia", sans-serif;
    background-color: grey;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.logo-container {
    margin-top: 10px; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.logo {
    width: 150px;
    height: auto;
    color: transparent;
}
.nav-container {
    max-width: 1900px; 
    margin: 0 auto;
}

/*header {
    background-color: grey;
    padding: 10px;
    text-align: center;
    width: 200px;
    box-sizing: border-box;
}*/

nav {
    width: 100%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin-bottom: 10px;
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #333;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 55px;
    color: #fff;
    background: #262626;
    text-decoration: none;
}

nav ul li a {
    background: transparent;
    color: #FFF;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    background: #333;
    color: #ffffff;
}

.navbar-dropdown li a {
    background: #333;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 55px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
        background: #262626;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .navbar-dropdown {
        position: static;
    }

    @media screen and (min-width:800px) {
        .nav-list {
            display: block !important;
        }
    }

    #navbar-toggle {
        position: absolute;
        left: 18px;
        top: 15px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }

    #navbar-toggle span,
    #navbar-toggle span:before,
    #navbar-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    #navbar-toggle span:before {
        top: -10px;
    }

    #navbar-toggle span:after {
        bottom: -10px;
    }

    #navbar-toggle.active span {
        background-color: transparent;
    }

    #navbar-toggle.active span:before,
    #navbar-toggle.active span:after {
        top: 0;
    }

    #navbar-toggle.active span:before {
        transform: rotate(45deg);
    }

    #navbar-toggle.active span:after {
        transform: rotate(-45deg);
    }
}

.about-container {
    background-color: grey;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

.barber-shop-content {
    max-width: 800px; 
    margin: auto;
}

.barber-shop-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.barber-shop-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.fulltime-barber-descriptions,
.Parttime-Barber-Descriptions {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; 
}

.fulltime-barber-descriptions li,
.Parttime-Barber-Descriptions li {
    flex-basis: calc(33.33% - 10px); 
    margin-bottom: 20px;
}

.fulltime-barber-descriptions img,
.Parttime-Barber-Descriptions img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 30%;
}

.fulltime-barber-descriptions .barber-description-text,
.Parttime-Barber-Descriptions .barber-description-text {
    flex: 1;
}

.barber-description-text {
    flex: 1;
}

.Barber-Descriptions {
    padding: 20px;
    text-align: center;
}

.Fulltime-Barber-Descriptions h2,
.Parttime-Barber-Descriptions h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    width: 100%; 
}

.reviews-container {
    background-color: #222121; 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 8px;
}

.reviews {
    margin-bottom: 20px; 
}

.review-item {
    background-color: grey;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.review-item:nth-child(odd) {
    background-color: gray;
}

.review-item .review-author {
    font-weight: bold;
    color: gray;
}

.review-item .review-text {
    color: #ffffff;
}

.review-item:nth-child(3),
.review-item:nth-child(4) {
    background-color: gray;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

.review-item:nth-child(3) .review-author {
    color: #ffffff; 
}

.review-item:nth-child(4) .review-author {
    color: #ffffff; 
}

.review-item:nth-child(3) .review-text,
.review-item:nth-child(4) .review-text {
    color: #ffffff; 
}

.footer {
    background-color: gray;
    padding: 20px;
    text-align: center;
}

.booking-container {
    background-color: gray;
    padding: 20px;
    text-align: center;
    box-sizing: border-box, 50px;
    margin-top: 40px;
}

.booking-form {
    max-width: 400px;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.form-group button:hover {
    background-color: #333;
    color: #fff;
}

.contact-container {
    background-color: gray;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 40px;
    color: #fff;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #fff;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-links a:hover {
    background-color: #fff;
    color: #333;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.text {
    font-size: 20px;
    padding-left: 20px;
    color: white;
}


.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 

}

.social a {
  margin: 0 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
}
